NET "push" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clock"  LOC = "B8"  ;
# NET "reset"  LOC = "H18"  ;
NET "C<0>"  LOC = "L18"  ;
NET "C<1>"  LOC = "F18"  ;
NET "C<2>"  LOC = "D17"  ;
NET "C<3>"  LOC = "D16"  ;
NET "C<4>"  LOC = "G14"  ;
NET "C<5>"  LOC = "J17"  ;
NET "C<6>"  LOC = "H14"  ;
NET "AN<0>"  LOC = "F17" ;
NET "AN<1>"  LOC = "H17" ;
NET "AN<2>"  LOC = "C18" ;
NET "AN<3>"  LOC = "F15" ;
NET "number<0>" LOC = "G18" ;
NET "number<1>" LOC = "H18" ;
NET "number<2>" LOC = "K18" ;
NET "number<3>" LOC = "K17" ;
NET "push" LOC = "L14" ;
NET "led"  LOC = "J14" ;
