//! **************************************************************************
// Written by: Map K.31 on Tue May 23 19:35:31 2017
//! **************************************************************************

SCHEMATIC START;
COMP "Carry" LOCATE = SITE "P4" LEVEL 1;
COMP "A" LOCATE = SITE "R17" LEVEL 1;
COMP "B" LOCATE = SITE "N17" LEVEL 1;
COMP "C" LOCATE = SITE "L13" LEVEL 1;
COMP "S" LOCATE = SITE "E4" LEVEL 1;
SCHEMATIC END;

