# NET "clock" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clock"  LOC = "B8"   ;
NET "reset"  LOC = "H18"  ;
NET "C<0>"   LOC = "L18"  ;
NET "C<1>"   LOC = "F18"  ;
NET "C<2>"   LOC = "D17"  ;
NET "C<3>"   LOC = "D16"  ;
NET "C<4>"   LOC = "G14"  ;
NET "C<5>"   LOC = "J17"  ;
NET "C<6>"   LOC = "H14"  ;
NET "AN<0>"  LOC = "F17"  ;
NET "AN<1>"  LOC = "H17"  ;
NET "AN<2>"  LOC = "C18"  ;
NET "AN<3>"  LOC = "F15"  ;
NET "col<0>" LOC = "L15"  ;
NET "col<1>" LOC = "K12"  ;
NET "col<2>" LOC = "L17"  ;
NET "col<3>" LOC = "M15"  ;
NET "row<0>" LOC = "K13"  ;
NET "row<1>" LOC = "L16"  ;
NET "row<2>" LOC = "M14"  ;
NET "row<3>" LOC = "M16"  ;
#NET "state<0>" LOC = "J14"  ;
#NET "state<1>" LOC = "J15"  ;
#NET "state<2>" LOC = "K15"  ;
NET "display<0>" LOC = "J14"  ;
NET "display<1>" LOC = "J15"  ;
NET "display<2>" LOC = "K15"  ;
NET "display<3>" LOC = "K14"  ;
